
<div id="home-align">
    <img id="beer-logo" src="images/beer.png" alt="beer image">
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beer">Check a random Beer!</a></button>
</div>