/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f9f9;
    min-height: 100vh;
}

nav {
    background-color: #2081c3;
    height: 60px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    box-shadow: 0 4px #d2d2d2;
}
nav a {
    text-decoration: none;
    color: white;
    padding-right: 18px;
}

#home-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #2081c3;
    padding: 10px;
    margin-bottom: 12px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px #d2d2d2;
}

#beer-logo {
    margin: 35px 0;
}

#beer-list {
    display: flex;
    flex-wrap: wrap;
}

#beer-item {
    width: 400px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 250px;
    width: fit-content;
}

div a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 10px;
}

button a {
    color: white;
    text-decoration: none;
}

#tagline {
    color: grey;
}

#random-beer {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #0a2c42;
    color: white;
    padding: 5px 12px;
    margin-top: 20px;
}